/*all pages*/
body{font-family: 'Georgia', 'Garamond', 'Verdana', sans-serif;
}
.menu{float: left;
margin-right: 40px;	
}
.image {float: left;
}
.name {padding: 63px;
}
/*Log-in Page*/
.center{text-align: center;
}
/*Student Home Page*/
